<div class="search-container">
  <form class="diet-form">
    <input type="text" placeholder="Search a recipe" id="search-diet" />
    <button type="submit">Submit</button>
  </form>
</div>

<main>
  {{{body}}}
</main>
<script src="/javascript/search.js"></script>