<form>
    <label for="recipename">Recipe name:</label><br>
    <input type="text" id="recipename" name="recipename"><br>
    <label for="diet">Diet type:</label><br>
    <input type="text" id="diet" name="diet"><br>
    <label for="ingredients">Ingredients:</label><br>
    <input type="text" id="ingredients" name="ingredients"><br>
    <label for="instructions">Instructions:</label><br>
    <input type="text" id="instructions" name="instructions"><br>
    <input type="submit" value="Submit">
  </form>

  <script src="/javascript/add-post.js"></script>